<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> Todos</h1>
      <p class="lead"><span><a class="navbar-brand" href="/api/"><img src="/todo.png" witdh="50" height="50" alt="">   </a></span> This Todo Web-App Will Help You Complete  Tasks Every Day :)</p>
      
    </div>
  </div>