<div class="jumbotron jumbotron-fluid banner">
    <div class="container">
      <h1 class="display-4"> Task Manager</h1>
      <p class="lead"><span><a class="navbar-brand" href="/api/"><img src="/todo.png" witdh="50" height="50" alt="">  </a></span>This website allows you to manage your activities</p>
      
    </div>
  </div>