<footer class="container-fluid text-center footer bg-dark text-white">
    <div>
        <br>
        <p>Designed by: K.Dushyanth <br>
        <a href="mailto:kd13@gmail.com">mailto: kd13@iitbbs.ac.in</a></p>
        <br>
    </div>
</footer>